.card {
    position: relative;
    width: 60%;
    height: 100%;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg {
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(100% - 4px);
    height: 100%;
    z-index: 2;
    background: rgba(20, 20, 20, 1);
    /* backdrop-filter: blur(24px); */
    border-radius: 10px;
    overflow: hidden;
    /* outline: 2px solid white; */
}

.blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0%;
    width: calc(100% - 10px);
    height: 57%;
    border-radius: 50%;
    background-color: #58bc82;
    /* opacity: 1; */
    filter: blur(6px);
    /* border : 3px solid #58bc82; */
    animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
    0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }

    30% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }

    /* 
    50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    } */
    /* 
    75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    } */

    100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
}

.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 80%;
    /* max-width: 180px; */
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #58bc82, #09ec60);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #58bc82;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}


/* Hide the default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background: #606062;
    border-radius: 5px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.30), 0px 1px 1px rgba(0, 5);
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-image: linear-gradient(#b9e9b3, #a8e4a0)
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}

/* global.css */
.scrollBarAdjustment {
    height: 300px;
    overflow-y: scroll;
}
/* .scrollBarAdjustment::-webkit-scrollbar-track{
     background-color: #58bc82;
} */
.scrollBarAdjustment::-webkit-scrollbar{
    width: 5px;
    scrollbar-width: 12px;
}


.scrollBarAdjustment::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 6px;
}

.scrollBarAdjustment::-webkit-scrollbar-thumb:hover{
    background: #555;
}

.scrollBarAdjustment::-webkit-scrollbar-corner{
    background: #f1f1f1;
}